*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
h2{
    font-size: 25px;
    padding-bottom: 8px;
}
h3{
    font-size: 20px;
    color: rgb(32, 204, 32);
    padding-bottom: 8px;
}

.card{
    width: 330px;
    overflow: hidden;
    border-radius: 8px;
    background-color: #585c66;
    padding-bottom: 8px;
}
.card picture img{
    width: 100%;
    height: 220px;
    background-color: #282c34;
    padding-bottom: 5px;
}